.header {
  width: 100%;
  height: 80px;
  padding: 0 2rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}

.headerButton {
  display: flex;
  align-items: flex-start;
  background-color: transparent;
  border: none;
}

.headerButton a {
  text-decoration: none;
  color: #667085;
}

.dashboardButton {
  display: flex;
  padding: 10px 18px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  text-decoration-color: white;
  border: 1px solid var(--primary-600, #7f56d9);
  background: var(--primary-600, #7f56d9);

  /* Shadow/xs */
  box-shadow: 0 1px 2px 0 rgb(16 24 40 / 5%);
}

.dashboardButton a {
  text-decoration: none;
  color: #fff;
}

.contactButton {
  position: absolute;
  bottom: 2.5rem;
  right: 2.5rem;
  padding: 1rem;
  background: #7f56d9;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgb(16 24 40 / 5%);
  border: none;
  cursor: pointer;

  &:hover {
    background: #6941c6;
  }
}
